.blog-wrapper {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 10px;
    box-sizing: border-box;
}

.blog-wrapper h1 {
    width: 100%;
    text-align: center;
}

.blog-entry-wrapper {
    margin-top: 50px;
    max-width: 720px;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.blog-entry {
    width: 350px;
    overflow: hidden;
    margin-bottom: 20px;
}

.blog-entry img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.blog-entry p {
    margin: 0;
    color: black;
    font-weight: 500;
    font-size: 1.3rem;
}

.date {
    font-size: .9rem !important;
}