.home-page-content {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 50px;
}

.list-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.list-wrapper > p {
    width: 50%;
}

.list-wrapper > ul {
    width: 50%;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.name {
    font-family: 'Lato-Bold' !important;
    font-size: 1.2rem;
    margin-bottom: 0;
    padding-bottom: 0;
}

.title {
    margin: 0;
    padding: 0;
    color: #444;
}

.task {
    margin-top: 0;
    padding-top: 0;
    color: #777;
}


.logo-wrapper {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px;
    box-sizing: border-box;
    margin-top: 50px;
}

.logo-wrapper h2 {
    width: 100%;
    text-align: center;
    font-size: 3rem;
    margin: 0;
}

.logo-wrapper img {
    max-width: 300px;
}