.home-page-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 10px;
    box-sizing: border-box;
}

.logo-wrapper {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px;
    box-sizing: border-box;
}

.logo-wrapper h2 {
    width: 100%;
    text-align: center;
    font-size: 3rem;
}

.logo-wrapper img {
    max-width: 300px;
}