.banner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    border-radius: 20px;
    margin-bottom: 50px;
    padding: 0 10px;
    box-sizing: border-box;
}

.banner-description {
    width: 500px;
    max-width: 100%;
    text-align: left;
    margin: 0;
}

.banner {
    width: 500px;
    max-width: 100%;
    height: auto;
}