.description {
    font-size: 1.5rem;
    margin: 50px 10px;
}

.highlight {
    font-weight: 600;
    text-decoration: underline;
}

.image-section {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 60px;
    box-sizing: border-box;
}

.image-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    gap: 10px;
}

.right {
    align-items: flex-end;
}

.left {
    align-items: flex-start;
}


.image-container > img {
    width: 500px;
    max-width: 100%;
    min-height: 200px;
    background-color: gray;
}

.fullwidth > img {
    width: 800px;
    max-width: 100%;
}
.image-container > p {
    width: auto;
    max-width: 500px !important;
    margin: 0;
    font-size: 1.2rem;
}
